I386_INCLUDES:= arch/i386/boot/make.config arch/i386/kernel/make.config
include $(I386_INCLUDES)

KERNEL_CFLAGS+=
KERNEL_LDFLAGS+=
KERNEL_LIBS+=

# Paths from root/kernel
KERNEL_OBJS+=\
arch/i386/crti.o \
arch/i386/crtbegin.o \
arch/i386/crtend.o \
arch/i386/crtn.o \
arch/i386/uart.o

TESTS_OBJS+=\
arch/i386/uart_test.o
