# Libc and Libk flags
LIBC_CFLAGS+=
LIBK_CFLAGS+=

# All paths relative to root/libc

LIBK_OBJS+=\

LIBC_OBJS+=\

COMMON_OBJS+=\
string/strlen_common.o \
string/strstr_common.o \
string/memcpy_common.o \
string/memset_common.o \
string/memmove_common.o

KTEST_OBJS+=\
string/strlen_common_test.o \
string/memmove_common_test.o